# Rewrite rules for React Router
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  # Rewrite everything else to index.html to allow HTML5 pushstate routing
  RewriteRule ^ index.html [L]
</IfModule>

# MIME types
<IfModule mod_mime.c>
  # Web fonts
  AddType application/font-woff           woff
  AddType application/font-woff2          woff2
  AddType application/vnd.ms-fontobject   eot
  AddType font/ttf                        ttf
  AddType font/otf                        otf
  
  # Web manifest
  AddType application/manifest+json       webmanifest
  AddType application/json                json
</IfModule>

# Content security policy
<IfModule mod_headers.c>
  # Enable CORS
  Header set Access-Control-Allow-Origin "*"
  
  # PWA related headers
  Header set X-Content-Type-Options "nosniff"
  Header set X-XSS-Protection "1; mode=block"
  Header set Cache-Control "no-transform"
</IfModule>

# Caching
<IfModule mod_expires.c>
  ExpiresActive On
  
  # Cache control for static assets
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/webp "access plus 1 month"
  
  # PWA assets
  ExpiresByType application/manifest+json "access plus 1 week"
  
  # JavaScript and CSS
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
</IfModule>
